/* Main grid layout */
.mobiles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Product card */
.product-card {
  background: #fff;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  border: 2px solid #6e00a6;
}


.imgbox {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.pro-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.product-name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 12px;
  color: #111;
  text-align: center;
}

.product-price {
  font-size: 17px;
  font-weight: 800;
  color: #6e00a6;
  margin-top: 5px;
  text-align: center;
}


.category {
  margin-bottom: 40px;
}

.category-title {
  font-size: 22px;
  font-weight: 700;
  margin-left: 20px;
  margin-bottom: 10px;
}
